@import "tailwindcss";

:root[data-theme="light"] {
    --text: #07070d;
    --text2: #302f36;
    --texti: #ebebf4;
    --background: #f0f0f3;
    --primary: #444474;
    --secondary: #a6a6d8;
    --accent: #595995;
    --container: #fffffff1;
    --border-color: #e0e0e0;
}
:root[data-theme="dark"] {
    --text: #ebebf4;
    --text2: #c3bfd4;
    --texti: #07070d;
    --background: #07070d;
    --primary: #a6a6d8;
    --secondary: #31317c;
    --accent: #b4e5ee;
    --container: #1a1a20;
    --border-color: #303038;
}